<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.general.vvvv.cmr" >
    <uses-sdk android:minSdkVersion="8"
        android:maxSdkVersion="19"
        android:targetSdkVersion="19"></uses-sdk>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <application

        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name="com.general.vvvv.cmr.MySplash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.general.vvvv.cmr.MyLogin"
            android:label="@string/app_login"></activity>
        <activity android:name="com.general.vvvv.cmr.MyActivity"
            android:label="@string/app_activity"></activity>
        <activity android:name="com.general.vvvv.cmr.MyReading"
            android:label="@string/app_reading"></activity>
        <activity android:name="com.general.vvvv.cmr.MyDownload"
            android:label="@string/app_name"></activity>
        <activity android:name="com.general.vvvv.cmr.MyStatus"
            android:label="@string/app_status"></activity>
        <activity android:name="com.general.vvvv.cmr.MyReadingType"
            android:label="@string/app_reading_type"></activity>
        <activity android:name="com.general.vvvv.cmr.MyReadingByBookNo"
            android:label="@string/app_reading"></activity>
        <activity android:name="com.general.vvvv.cmr.ElectricityDeptDaman"
            android:label="@string/app_name"></activity>
        <activity android:name="com.general.vvvv.cmr.MyReadingByCGL"
            android:label="@string/app_reading"></activity>
        <activity android:name=".htc.HtcActivityObjective"
            android:label="@string/htc_ob"></activity>
        <activity android:name=".ltp.LtpActivityObjective"
            android:label="@string/ltp_ob"></activity>
        <activity android:name=".htc.HtcActivityReading"
            android:label="@string/app_reading_HTC"></activity>
        <activity android:name=".ltp.LtpActivityReading"
            android:label="@string/app_reading_LTP"></activity>
        <activity android:name=".ltp.LtpActivityStatus"
            android:label="@string/ltp_stat"></activity>
        <activity android:name=".ltp.LtpActivityReadingFromLtpStatus"
            android:label="@string/app_reading_LTP"></activity>
        <activity android:name=".ltp.LtpActivityReadingType"
            android:label="@string/ltp_reading_type"></activity>
        <activity android:name=".ltp.LtpActivityAreaConsumerList"
            android:label="@string/app_reading_LTP"></activity>
        <activity android:name=".ltp.LtpActivityReadingForConsumerList"
            android:label="@string/app_reading_LTP"></activity>
        <activity android:name=".htc.HtcActivityReadingType"
            android:label="@string/htc_reading_type"></activity>
        <activity android:name=".htc.HtcActivityAreaConsumerList"
            android:label="@string/app_reading_HTC"></activity>
        <activity android:name=".htc.HtcActivityReadingForConsumerList"
            android:label="@string/app_reading_HTC"></activity>
        <activity android:name=".htc.HtcActivityStatus"
            android:label="@string/htc_stat"></activity>
        <activity android:name=".htc.HTCActivityMMReadingFromHTCStatus"
            android:label="@string/app_reading_HTC"></activity>
        <activity android:name=".htc.HTCActivityCMReadingFromHTCStatus"
            android:label="@string/app_reading_HTC"></activity>




        <service android:name="com.Service.UploadMeterReadingService"></service>
        <service android:name="com.Service.UploadLTPReadingService"></service>
        <service android:name="com.Service.UploadHTCReadingService"></service>


    </application>

</manifest>

